* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;   
}

.div-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100px;
}

.pokemon-table {
    width: 100%; 
    border-spacing: 0
}

.number {
    display: flex;
    align-items: center;
}

.number, .hp, .attack, .defense, .sp-attack, .sp-defense, .speed {
    text-align: right;
}

.title {
    text-align: center;
    padding-block: 1rem;
    font-size: 65px;
}

.table-item {
    padding: 0.25rem 1.5rem;
}

.row:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-header {
    background-color: #cacaca;
}

.tipo{
    height:25px;
    padding: 2px;
}

.searchbar{
    height: 50px;
    width: 600px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.search-form{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.searchbutton{
    height: 50px;
    border: 2px solid black;
    width: 100px;
    margin-left:2px;
    background-color: red;
    color: white;
    border-radius: 10px;
}